{%- comment -%}LOCAL OVERRIDE — bypasses slot lookup. Will be overwritten on next Studio republish.{%- endcomment -%}
{%- if product -%}
<div data-spectrum-instance-id="kgk2u8j1pbjhaq4p3x56j1lo" data-spectrum-snippet-id="l2dcg7yd" data-spectrum-experience="_system-196419092640" data-spectrum-feature-slug="fbt" data-spectrum-vis="on">
{% render '_sai-snippet-l2dcg7yd' %}
</div>
{%- endif -%}
