<script>console.log("FBT WRAPPER CALLED:", "kgk2u8j1pbjhaq4p3x56j1lo")</script>
<div data-fbt-debug="kgk2u8j1pbjhaq4p3x56j1lo" style="background:lime;padding:1rem;border:3px solid red">FBT DEBUG kgk2u8j1pbjhaq4p3x56j1lo</div>
