{%- comment -%}LOCAL OVERRIDE — bypasses slot lookup. Will be overwritten on next Studio republish.{%- endcomment -%}
{%- if product -%}
<div data-spectrum-instance-id="pobttpshunq7edz1uh6yznay" data-spectrum-snippet-id="u3rw3o3e" data-spectrum-experience="_system-196419092640" data-spectrum-feature-slug="fbt">
{% render '_sai-snippet-u3rw3o3e' %}
</div>
{%- endif -%}
