<script>console.log("FBT WRAPPER CALLED:", "pobttpshunq7edz1uh6yznay")</script>
<div data-fbt-debug="pobttpshunq7edz1uh6yznay" style="background:lime;padding:1rem;border:3px solid red">FBT DEBUG pobttpshunq7edz1uh6yznay</div>
